{
    "database":{
        "type": "postgres",
        "host": "localhost",
        "port": 5432,
        "username": "postgres",
        "password": "postgres",
        "database": "postgres",
        "schema": "telegres",
        "skip_null": true
    }
}